@import "tailwindcss";
@import "normalize.css";

:root {
  --color-primario: #2093ff;   
  --color-secundario: #AFCCA8; 
  --color-claro: #ffffff;      
  --color-neutro: #C7B299;     
  --color-oscuro: #000000;
  --normal-button : #1692f7;
  --danger-button : #ed1515;
  --background : #ffffff;
}
